<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/styledash.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
       <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/a.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/b.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/c.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/d.css' %}">


</head>
</body>

		<!-- partial:partials/_horizontal-navbar.html -->
    <div class="horizontal-menu">

        <div class="container-fluid">
          <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">
            <ul class="navbar-nav navbar-nav-left">
          </div>
        </div>
      </nav>
      <nav class="bottom-navbar">
        <div class="container">
            <ul class="nav page-navigation">
              <li class="nav-item">
                <a class="nav-link" href="index.html">
                  <i class="mdi mdi-file-document-box menu-icon"></i>
                  <span class="menu-title">Dashboard</span>
                </a>
              </li>
              <li class="nav-item">
                  <a href="vwfarmer" class="nav-link">
                    <i class="mdi mdi-cube-outline menu-icon"></i>
                    <span class="menu-title">View Farmer</span>
                    <i class="menu-arrow"></i>
                  </a>

              </li>
              <li class="nav-item">
                  <a href="pages/forms/basic_elements.html" class="nav-link">
                    <i class="mdi mdi-chart-areaspline menu-icon"></i>
                    <span class="menu-title">View consumer</span>
                    <i class="menu-arrow"></i>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="vwproduct" class="nav-link">
                    <i class="mdi mdi-finance menu-icon"></i>
                    <span class="menu-title">View product </span>
                    <i class="menu-arrow"></i>
                  </a>
              </li>
                <li class="nav-item">
                  <a href="pages/charts/chartjs.html" class="nav-link">
                    <i class="mdi mdi-finance menu-icon"></i>
                    <span class="menu-title">View Order </span>
                    <i class="menu-arrow"></i>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="pages/tables/basic-table.html" class="nav-link">
                    <i class="mdi mdi-grid menu-icon"></i>
                    <span class="menu-title">Logout</span>
                    <i class="menu-arrow"></i>
                  </a>
              </li>

            </ul>
        </div>
      </nav>
    </div>

				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
    </div>
         <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/inewsticker.js' %}"></script>
    <script src="{% static 'js/bootsnav.js.' %}"></script>
    <script src="{% static 'js/images-loded.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>


    <style>
        table {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            border-collapse: collapse;
             margin-top: 50px; /* Moves the table down */
            margin-bottom: 50px; /* Adds space below the table */
        }
        th, td {
            border: 1px solid black;
            padding: 12px;
            text-align: left;


        }
        th {
            background-color: #f2f2f2;
        }
        img {
            width: 90px; /* Adjust based on your preference */
            height: auto;
        }
    </style>
</head>
<body>

    <table>
        <tr>
            <th>Sl No</th>
            <th>ID</th>
            <th>Consumer Name </th>


        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <!-- Add more products as needed -->
    </table>

</body>
</html>